<a href="https://colab.research.google.com/github/ToluGb/Hamoye-DSI-2020/blob/master/HSDC_Stage_B_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving energydata_complete.csv to energydata_complete.csv

In [ ]:
df_energy = pd.read_csv('energydata_complete.csv')
df_energy.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [ ]:
df_energy.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [ ]:
# Scaling the data using MinMax Scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [ ]:
new_df = df_energy.drop(['date','lights'], axis=1)
new_df.head()

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]

In [ ]:
df_normalised = pd.DataFrame(scaler.fit_transform(new_df), columns=new_df.columns)
df_normalised.head()

   Appliances       T1      RH_1  ...  Tdewpoint       rv1       rv2
0    0.046729  0.32735  0.566187  ...   0.538462  0.265449  0.265449
1    0.046729  0.32735  0.541326  ...   0.533937  0.372083  0.372083
2    0.037383  0.32735  0.530502  ...   0.529412  0.572848  0.572848
3    0.037383  0.32735  0.524080  ...   0.524887  0.908261  0.908261
4    0.046729  0.32735  0.531419  ...   0.520362  0.201611  0.201611

[5 rows x 27 columns]

**Question 12**

In [ ]:
features_df = df_normalised[['T2']]

In [ ]:
target_variable = df_normalised[['T6']]

In [ ]:
# Splitting the dataset into training and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features_df, target_variable, test_size=0.3, random_state=42)

In [ ]:
# Fitting the Linear Regression
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

In [ ]:
# Obtaining Predictions
linear_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred = linear_model.predict(X_test)

In [ ]:
 # R-Squared
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, y_pred)
round(r2_score, 2)

0.64

**Question 13**

In [ ]:
columns_df = df_normalised.drop(columns=['Appliances'])
columns_df

             T1      RH_1        T2  ...  Tdewpoint       rv1       rv2
0      0.327350  0.566187  0.225345  ...   0.538462  0.265449  0.265449
1      0.327350  0.541326  0.225345  ...   0.533937  0.372083  0.372083
2      0.327350  0.530502  0.225345  ...   0.529412  0.572848  0.572848
3      0.327350  0.524080  0.225345  ...   0.524887  0.908261  0.908261
4      0.327350  0.531419  0.225345  ...   0.520362  0.201611  0.201611
...         ...       ...       ...  ...        ...       ...       ...
19730  0.926786  0.537657  0.711655  ...   0.901961  0.861981  0.861981
19731  0.919747  0.536006  0.701769  ...   0.900452  0.985726  0.985726
19732  0.919747  0.538666  0.692651  ...   0.898944  0.583979  0.583979
19733  0.919747  0.549491  0.677054  ...   0.897436  0.126371  0.126371
19734  0.919747  0.538758  0.666171  ...   0.895928  0.682391  0.682391

[19735 rows x 26 columns]

In [ ]:
target_df = df_normalised[['Appliances']]
target_df

       Appliances
0        0.046729
1        0.046729
2        0.037383
3        0.037383
4        0.046729
...           ...
19730    0.084112
19731    0.074766
19732    0.242991
19733    0.383178
19734    0.392523

[19735 rows x 1 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(columns_df, target_df, test_size=0.3, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

In [ ]:
linear_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred = linear_model.predict(X_test)

In [ ]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_pred)
round(mae, 2)

0.05

**Question 14**

In [ ]:
#RSS
rss = np.sum(np.square(y_test - y_pred))
round(rss, 2)

Appliances    45.35
dtype: float64

**Question 15**

In [ ]:
#RMSE
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
round(rmse, 3)

0.088

**Question 16**

In [ ]:
# R-Squared
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, y_pred)
round(r2_score, 2)

0.15

**Question 17**

In [241]:
a = linear_model.coef_

In [243]:
a.min()

-0.4566979483384996

In [ ]:
a.max()

0.5535465998386391

**Question 18**

In [ ]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)

In [ ]:
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [ ]:
y_pred = ridge_reg.predict(X_test)

In [ ]:
#RMSE
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
round(rmse, 3)

0.088

**Question 19**

In [ ]:
# Lasso Regression
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)

In [ ]:
# Fitting the Lasso Regression
lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [222]:
# Obtaining Predictions
y_pred = lasso_reg.predict(X_test)

In [223]:
c = lasso_reg.coef_
print(c)

[ 0.          0.01787993  0.         -0.          0.          0.
 -0.          0.         -0.          0.          0.         -0.
 -0.         -0.          0.         -0.00011004 -0.         -0.
  0.         -0.         -0.04955749  0.00291176  0.          0.
 -0.         -0.        ]

**Question 20**

In [224]:
# Lasso RMSE
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
round(rmse, 3)

0.094