<a href="https://colab.research.google.com/github/ToluGb/Hamoye-DSI-2020/blob/master/HSDC_Stage_C_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
df = pd.read_csv('https://query.data.world/s/wh6j7rxy2hvrn4ml75ci62apk5hgae')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df.head()

   country  year  country_code  ...    carbon         total  QScore
0  Armenia  1992             1  ...  0.000000  5.032351e-01      3A
1  Armenia  1992             1  ...  0.000000  1.732543e+06      3A
2  Armenia  1992             1  ...  0.000000  4.262086e-01      3A
3  Armenia  1992             1  ...  0.000000  1.467355e+06      3A
4  Armenia  1992             1  ...  1.114093  1.728629e+00      3A

[5 rows x 12 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72186 entries, 0 to 72185
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         72186 non-null  object
 1   year            72186 non-null  int64
 2   country_code    72186 non-null  int64
 3   record          72186 non-null  object
 4   crop_land       51714 non-null  float64
 5   grazing_land    51714 non-null  float64
 6   forest_land     51714 non-null  object
 7   fishing_ground  51713 non-null  float64
 8   built_up_land   51713 non-null  float64
 9   carbon          51713 non-null  float64
 10  total           72177 non-null  float64
 11  QScore          72185 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 6.6+ MB

In [ ]:
df['QScore'].value_counts()

3A    51481
2A    10576
2B    10096
1B       16
1A       16
Name: QScore, dtype: int64

In [ ]:
df.isnull().sum()

country               0
year                  0
country_code          0
record                0
crop_land         20472
grazing_land      20472
forest_land       20472
fishing_ground    20473
built_up_land     20473
carbon            20473
total                 9
QScore                1
dtype: int64

In [ ]:
#for simplicity, we will drop the rows with missing values.
df = df.dropna()

In [ ]:
df.isna().sum()

country           0
year              0
country_code      0
record            0
crop_land         0
grazing_land      0
forest_land       0
fishing_ground    0
built_up_land     0
carbon            0
total             0
QScore            0
dtype: int64

In [ ]:
# An obvious change in our target variable after removing the missing values is that there are only three classes left 
# and from the distribution of the 3 classes, we can see that there is an obvious imbalance between the classes. 
# There are methods that can be applied to handle this imbalance such as oversampling and undersampling.

df['QScore'].value_counts()

3A    51473
2A      224
1A       16
Name: QScore, dtype: int64

In [ ]:
# Oversampling involves increasing the number of instances in the class with fewer instances 
# Undersampling involves reducing the data points in the class with more instances.
# For now, we will convert this to a binary classification problem by combining class '2A' and '1A'.

df['QScore'] = df['QScore'].replace('1A', '2A')

In [ ]:
df.QScore.value_counts()

3A    51473
2A      240
Name: QScore, dtype: int64

In [ ]:
df_2A = df[df.QScore == '2A']
df_3A = df[df.QScore == '3A'].sample(350)

In [ ]:
data_df = df_2A.append(df_3A)

In [ ]:
import sklearn.utils
data_df = sklearn.utils.shuffle(data_df)

In [ ]:
data_df.head()

           country  year  country_code  ...        carbon         total  QScore
18582  El Salvador  1986            60  ...  1.232756e-01  9.872239e-01      3A
42448      Morocco  2016           143  ...  0.000000e+00  1.203299e+00      2A
11048    Sri Lanka  1964            38  ...  0.000000e+00  7.057214e-01      3A
334    Afghanistan  1977             2  ...  6.541228e-02  1.063614e+00      3A
16021      Denmark  1971            54  ...  2.422116e+07  4.322083e+07      3A

[5 rows x 12 columns]

In [ ]:
data_df = data_df.reset_index(drop=True)

In [ ]:
data_df.head()

       country  year  country_code  ...        carbon         total  QScore
0  El Salvador  1986            60  ...  1.232756e-01  9.872239e-01      3A
1      Morocco  2016           143  ...  0.000000e+00  1.203299e+00      2A
2    Sri Lanka  1964            38  ...  0.000000e+00  7.057214e-01      3A
3  Afghanistan  1977             2  ...  6.541228e-02  1.063614e+00      3A
4      Denmark  1971            54  ...  2.422116e+07  4.322083e+07      3A

[5 rows x 12 columns]

In [ ]:
data_df.shape

(590, 12)

In [ ]:
data_df.QScore.value_counts()

3A    350
2A    240
Name: QScore, dtype: int64

In [ ]:
data_df.record.value_counts()

EFConsTotGHA    87
BiocapTotGHA    80
EFProdTotGHA    79
AreaPerCap      73
AreaTotHA       70
BiocapPerCap    69
EFProdPerCap    66
EFConsPerCap    66
Name: record, dtype: int64

In [ ]:
#more preprocessing
data_df = data_df.drop(columns=['country_code', 'country', 'year'])

In [ ]:
data_df.head()

         record     crop_land   grazing_land  ...        carbon         total  QScore
0  EFProdPerCap  3.446892e-01       0.168796  ...  1.232756e-01  9.872239e-01      3A
1    AreaPerCap  2.718926e-01       0.595292  ...  0.000000e+00  1.203299e+00      2A
2    AreaPerCap  1.726267e-01       0.021198  ...  0.000000e+00  7.057214e-01      3A
3  EFProdPerCap  4.110964e-01       0.451869  ...  6.541228e-02  1.063614e+00      3A
4  EFConsTotGHA  7.350293e+06  376239.317800  ...  2.422116e+07  4.322083e+07      3A

[5 rows x 9 columns]

In [ ]:
X = data_df.drop(columns='QScore')
X.head()

         record     crop_land  ...        carbon         total
0  EFProdPerCap  3.446892e-01  ...  1.232756e-01  9.872239e-01
1    AreaPerCap  2.718926e-01  ...  0.000000e+00  1.203299e+00
2    AreaPerCap  1.726267e-01  ...  0.000000e+00  7.057214e-01
3  EFProdPerCap  4.110964e-01  ...  6.541228e-02  1.063614e+00
4  EFConsTotGHA  7.350293e+06  ...  2.422116e+07  4.322083e+07

[5 rows x 8 columns]

In [ ]:
y = data_df['QScore']
y.head()

0    3A
1    2A
2    3A
3    3A
4    3A
Name: QScore, dtype: object

In [ ]:
#split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [ ]:
y_train.value_counts()
# There is still an imbalance in the class distribution. For this, we use SMOTE only on the training data to handle this.

3A    248
2A    165
Name: QScore, dtype: int64

In [ ]:
# Encode categorical variable
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
X_train.record = encoder.fit_transform(X_train.record)
X_test.record = encoder.transform(X_test.record)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
import imblearn
print(imblearn.__version__)

0.4.3

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [ ]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=1)
X_train_balanced, y_balanced = smote.fit_sample(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
X_train_balanced = pd.DataFrame(X_train_balanced, columns=X_train.columns)
X_train_balanced.head()

   record     crop_land  grazing_land  ...  built_up_land    carbon         total
0     1.0  3.195000e+06  3.300000e+07  ...  407855.011000  0.000000  6.328522e+07
1     3.0  1.562820e+04  2.030450e+05  ...  194968.105900  0.000000  6.786386e+05
2     4.0  5.927834e-01  8.869142e-02  ...       0.061915  4.016362  5.486330e+00
3     2.0  1.658459e-02  2.154705e-01  ...       0.206899  0.000000  7.201686e-01
4     3.0  3.093838e+06  2.656209e+07  ...  343396.981700  0.000000  5.455678e+07

[5 rows x 8 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

X_train_balanced = pd.DataFrame(X_train_balanced, columns=X_train.columns)
normalised_train_df = scaler.fit_transform(X_train_balanced.drop(columns=['record']))
normalised_train_df = pd.DataFrame(normalised_train_df, columns=X_train_balanced.drop(columns=['record']).columns)
normalised_train_df['record'] = X_train_balanced['record']

In [ ]:
normalised_train_df.head()

      crop_land  grazing_land   forest_land  ...        carbon         total  record
0  6.298212e-03  7.337268e-02  7.005827e-02  ...  0.000000e+00  3.027174e-02     1.0
1  3.080743e-05  4.514531e-04  9.814671e-06  ...  0.000000e+00  3.246188e-04     3.0
2  1.167752e-09  1.971978e-10  1.252873e-09  ...  3.779695e-09  2.609312e-09     4.0
3  3.190751e-11  4.790802e-10  1.041529e-11  ...  0.000000e+00  3.294749e-10     2.0
4  6.098795e-03  5.905854e-02  1.006417e-01  ...  0.000000e+00  2.609659e-02     3.0

[5 rows x 8 columns]

In [ ]:
X_test = X_test.reset_index(drop=True)
normalised_test_df = scaler.transform(X_test.drop(columns=['record']))
normalised_test_df = pd.DataFrame(normalised_test_df, columns=X_test.drop(columns=['record']).columns)
normalised_test_df['record'] = X_test['record']

In [ ]:
normalised_test_df.head()

      crop_land  grazing_land   forest_land  ...        carbon         total  record
0  6.299163e-10  6.957322e-11  1.449018e-09  ...  2.428757e-10  8.204409e-10       4
1  1.675350e-03  5.569489e-03  1.658197e-01  ...  0.000000e+00  1.711233e-02       3
2  4.538712e-10  3.512172e-10  8.984563e-10  ...  2.070156e-10  4.600051e-10       6
3  1.513152e-02  8.305425e-05  1.037587e-02  ...  4.207982e-02  2.746452e-02       7
4  5.772683e-03  2.517957e-03  2.562768e-03  ...  8.295909e-03  6.572175e-03       5

[5 rows x 8 columns]

In [ ]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(normalised_train_df, y_balanced)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
new_predictions = log_reg.predict(normalised_test_df)

**Evaluation Metrics**

In [ ]:
from sklearn.metrics import recall_score, accuracy_score, precision_score, f1_score, confusion_matrix
# Confusion Matrix
cnf_mat = confusion_matrix(y_true=y_test, y_pred=new_predictions, labels=['2A', '3A'])
cnf_mat

array([[60, 15],
       [72, 30]])

In [ ]:
# Accuracy
accuracy = accuracy_score(y_true=y_test, y_pred=new_predictions)
print('Accuracy: {}'.format(round(accuracy*100), 2))

Accuracy: 51.0

In [ ]:
# Precision
precision = precision_score(y_true=y_test, y_pred=new_predictions, pos_label='2A')
print('Precision: {}'.format(round(precision*100), 2))

Precision: 45.0

In [ ]:
# Recall
recall = recall_score(y_true=y_test, y_pred=new_predictions, pos_label='2A')
print('Recall: {}'.format(round(recall*100), 2))

Recall: 80.0

In [ ]:
# F1-Score
f1 = f1_score(y_true=y_test, y_pred=new_predictions, pos_label='2A')
print('F1: {}'.format(round(f1*100), 2)) #prints 45.0

F1: 58.0

In [ ]:
# Cross Validation and Accuracy
from sklearn.model_selection import cross_val_score
scores = cross_val_score(log_reg, normalised_train_df, y_balanced, cv=5, scoring='f1_macro')
scores

array([0.53926282, 0.46244344, 0.49560976, 0.58050847, 0.56      ])

In [ ]:
# K-Fold Cross Validation
from sklearn.model_selection import KFold
kf = KFold(n_splits=5)
kf.split(normalised_train_df) 
f1_scores = []
#run for every split
for train_index, test_index in kf.split(normalised_train_df):
  x_train, x_test = normalised_train_df.iloc[train_index],normalised_train_df.iloc[test_index]
  y_train, y_test = y_balanced[train_index], y_balanced[test_index]
  model = LogisticRegression().fit(x_train, y_train)
  #save result to list
  f1_scores.append(f1_score(y_true=y_test, y_pred=model.predict(x_test), 
                   pos_label='2A')*100)

In [ ]:
f1_scores

[53.96825396825397,
 57.36434108527132,
 54.26356589147288,
 52.79999999999999,
 0.0]

In [ ]:
# Leave Out One Cross Validation (LOOCV)
from sklearn.model_selection import LeaveOneOut
loo = LeaveOneOut()
scores = cross_val_score(LogisticRegression(), normalised_train_df, y_balanced, cv=loo, 
                         scoring='f1_macro')
average_score = scores.mean() * 100

In [ ]:
average_score

55.64516129032258

In [ ]:
# Stratified K-Fold Cross Validation
from sklearn.model_selection import StratifiedKFold
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=1)
f1_scores = []
#run for every split
for train_index, test_index in skf.split(normalised_train_df, y_balanced):
  x_train, x_test = np.array(normalised_train_df)[train_index], np.array(normalised_train_df)[test_index]
  y_train, y_test  = y_balanced[train_index], y_balanced[test_index]
  model = LogisticRegression().fit(x_train, y_train)
  #save result to list
  f1_scores.append(f1_score(y_true=y_test, y_pred=model.predict(x_test), pos_label='2A'))

In [ ]:
f1_scores

[0.6557377049180328,
 0.58,
 0.6101694915254238,
 0.5137614678899083,
 0.5333333333333333]

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dec_tree = DecisionTreeClassifier()
dec_tree.fit(normalised_train_df, y_balanced)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')